/** 圆角 */
$smallRadiusSize: 2px;
$largeRadiusSize: 4px;

/** 文字颜色 */
$primaryText: #303133;
$regularText: #606266;
$secondatyText: #909399;
$placeholderText: #c0c4cc;

/** 边框颜色 */
$baseBorder: #dcdfe6;
$lightBorder: #e4e7ed;
$lighterBorder: #ebeef5;
$extraLightBorder: #f2f6fc;

/** 侧边栏 */
$asideMenuBgColor: #373a69;
$asideMenuLogoTransitionTime: 0.3s;

/** @import 'element-plus/theme-chalk/src/index.scss'; */

$mainPadding: 20px;
