/** 圆角 */
$small-radius-size: 2px;
$large-radius-size: 4px;

/** 文字颜色 */
$primary-text: #303133;
$regular-text: #606266;
$secondaty-text: #909399;
$placeholder-text: #c0c4cc;

/** 边框颜色 */
$base-border: #dcdfe6;
$light-border: #e4e7ed;
$lighter-border: #ebeef5;
$extra-light-border: #f2f6fc;

/** 侧边栏 */
$aside-menu-bg-color: #373a69;
$aside-menu-logo-transition-time: 0.3s;

/** @import 'element-plus/theme-chalk/src/index.scss'; */

$main-padding: 20px;
$page-nav-height: 44px;
